.container {
    border: 1px dashed black;
}

.container > .header {
    min-width: 100%;
    text-align: center;
}

.container > .clientsContainer {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}